{% extends 'base.html' %} {% block content %}

<div class="container px-4">
	<table class="table table-striped">
		<thead class="thead-light text-center align-middle">
			<tr>
				<th scope="col" colspan="2">Lokasi</th>
			</tr>
		</thead>
		<tbody class="text-center">
			<tr>
				<td class="d-flex justify-content-between px-5">
					<p class="mb-0">Site A</p>
					<a
						type="button"
						class="btn btn-outline-secondary w-25"
						aria-expanded="false"
					>
						Edit
						<i class="fa-solid fa-pencil"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td class="d-flex justify-content-between px-5">
					<p class="mb-0">Site A</p>
					<a
						type="button"
						class="btn btn-outline-secondary w-25"
						aria-expanded="false"
					>
						Edit
						<i class="fa-solid fa-pencil"></i>
					</a>
				</td>
			</tr>
			<tr>
				<td class="d-flex justify-content-between px-5">
					<p class="mb-0">Site A</p>
					<a
						type="button"
						class="btn btn-outline-secondary w-25"
						aria-expanded="false"
					>
						Edit
						<i class="fa-solid fa-pencil"></i>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2" class="text-end px-5">
					<a
						type="button"
						class="btn btn-outline-success w-25"
						aria-expanded="false"
                        href="{{url_for('add_location')}}"
					>
						<!-- <p>Tambah Lokasi</p> -->
						Tambah Lokasi
						<i class="fa-solid fa-circle-plus fs-5"></i>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

{% endblock %}
