{% extends 'base.html' %} {% block content %}

<form class="mb-5 px-4">
	<div class="form-row row align-items-center">
		<div class="col-2 my-1">
			<select class="form-select mr-sm-2" id="dateFilter">
				<option value="" selected disabled>Filter Tanggal</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-2 my-1">
			<select class="form-select mr-sm-2" id="locationFilter">
				<option value="" selected disabled>Filter Lokasi</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-2 my-1">
			<select class="form-select mr-sm-2" id="vehicleFilter">
				<option value="" selected disabled>Filter Kode Kenaraan</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
		</div>
		<div class="col-2 my-1">
			<button type="submit" class="btn btn-outline-primary w-50">
				Cari
			</button>
		</div>
	</div>
</form>

<div class="px-4 container">
	{% if reports %}
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th scope="col" class="text-center align-middle">
						Time
					</th>
					<th scope="col" class="text-center">
						Kode Kendaraan
					</th>
					<th scope="col" class="text-center align-middle">
						Harga
					</th>
				</tr>
			</thead>
			<tbody class="text-center">
				{% for report in reports %}
					<tr>
						<th scope="row">{{ report['created'] }}</th>
						<td>@mdo</td>
						<td>{{ report['price'] }}</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot class="text-center">
				<tr>
					<th scope="row" colspan="2">Grand Total</th>
					<td>{{ grand_total }}</td>
				</tr>
			</tfoot>
		</table>
	{% else %}
		 <!-- Bootstrap 5 warning alert -->
		<div class="alert alert-warning text-center" role="alert">
			⚠️ Empty data, please use the filter first.
		</div>
	{% endif %}
</div>
{% endblock %}
