{% extends 'base.html' %} {% block content %}

<form method="POST" action="{{ url_for('reports') }}" class="mb-5 px-4">
	<div class="form-row row align-items-center">
		<div class="col-2 my-1">
			<select class="form-select mr-sm-2 dateFilter" id="dateFilter" name="dateFilter">
				<option value="" selected>Semua Tanggal</option>
				{% for date in date_options %}
                    <option value="{{ date }}">{{ date }}</option>
                {% endfor %}
			</select>
		</div>
		<div class="col-2 my-1">
			<select class="form-select mr-sm-2" id="locationFilter" name="locationFilter">
				<option value="" selected>Semua Lokasi</option>
				{% for location in location_options %}
                    <option value="{{ location['id'] }}">{{ location['location_name'] }}</option>
                {% endfor %}
			</select>
		</div>
		<div class="col-2 my-1">
			<select class="form-select mr-sm-2" id="vehicleFilter" name="vehicleFilter">
				<option value="" selected>Semua Kode Kendaraan</option>
				{% for vehicle in vehicle_options %}
                    <option value="{{ vehicle['vehicle_id'] }}">{{ vehicle['vehicle_name'] }} ({{ vehicle['vehicle_code'] }})</option>
                {% endfor %}
			</select>
		</div>
		<div class="col-2 my-1">
			<button type="submit" class="btn btn-outline-primary w-50">
				Cari
			</button>
		</div>
	</div>
</form>

<div class="px-4 container">
	{% if reports %}
		<table class="table table-striped">
			<thead class="thead-light">
				<tr>
					<th scope="col" class="text-center align-middle">
						Kode Transaksi
					</th>
					<th scope="col" class="text-center align-middle">
						Time
					</th>
					<th scope="col" class="text-center">
						Kode Kendaraan
					</th>
					<th scope="col" class="text-center align-middle">
						Harga
					</th>
				</tr>
			</thead>
			<tbody class="text-center">
				{% for report in reports %}
					<tr>
						<th scope="row">{{ report['transaction_id'] }}</th>
						<td>{{ report['created_at'] }}</td>
						<td>{{ report['vehicle_code'] }}</td>
						{% if report['paid_price'] %}
							<td class="fw-bold">{{ report['paid_price'] }}</td>
						{% else %}
							<td class="fw-bold">Transaksi belum selesai</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
			<tfoot class="text-center">
				<tr>
					<th scope="row" colspan="3">Grand Total</th>
					<td>{{ grand_total }}</td>
				</tr>
			</tfoot>
		</table>
	{% else %}
		 <!-- Bootstrap 5 warning alert -->
		<div class="alert alert-warning text-center" role="alert">
			⚠️ Data kosong, gunakan filter untuk menampilkan data.
		</div>
	{% endif %}
</div>
{% endblock %}
